"Welcome to the multiplication calculator! Enter two numbers, and then they will be multiplied together."
println
""
println
"First number: "
read
cast_int
"Second number: "
read
cast_int
*
"Added: "
print
println
#2
jmp