"Welcome to the multiplication calculator! Enter two numbers, and then they will be multiplied together."
println
""
println
"#1: "
print
read
cast_int
"#2: "
print
read
cast_int
*
"Added: "
print
println
#2
jmp