"Welcome to the addition calculator! Enter two numbers, and then they will be added together."
println
""
println
"First number: "
read
cast_int
"Second number: "
read
cast_int
+
"Added: "
print
println
#2
jmp